<h1>New Vehicle</h1>
<%= simple_form_for @car do |f| %>


  <%= f.association :manufacturer %>

  <%= f.label :color %>
  <%= f.text_field :color %>

  <%= f.label :mileage %>
  <%= f.text_field :mileage %>


  <%= f.label :year %>
  <%= f.number_field(:year, in: 1924..2015) %>

  <%= f.submit 'Submit Vehicle' %>
  <% end %>
